* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../Images/yu2.jpg'); /* Use this path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f39c12;
    text-shadow: 2px 2px 5px #000;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
}

.flag {
    font-weight: bold;
    color: #e74c3c;
    background-color: #ecf0f1;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
